# Logs
logs
*.log
npm-debug.log*

# Dependency directory
/node_modules

# Output directory
/dist

# Optional npm cache directory
.npm

# -- VSCode --
/.vscode
jsconfig.json

# -- IDEA --
/.idea

## File-based project format:
*.ipr
*.iws
*.iml

# -- OS X --
.DS_Store

# -- ESLint --
.eslintcache

# -- Jest --
/coverage
